{# templates/home/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Reservation CRUD</title>
</head>
<body>
    <h1>Reservation CRUD Operations</h1>

    <ul>
        <li><a href="{{ path('app_reservation_index') }}">View All Reservations</a></li>
        <li><a href="{{ path('app_reservation_new') }}">Create New Reservation</a></li>
        {# Add links for edit and delete operations as needed #}
    </ul>
</body>
</html>
