<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Symfony Application{% endblock %}</title>
    {% block stylesheets %}
        {# Include CSS files here #}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                
                <li><a href="{{ path('app_livraison_index') }}">Livraison</a></li>
                <li><a href="{{ path('app_livreur_index') }}">Livreur</a></li>
                {# Add more navigation links as needed #}
            </ul>
        </nav>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {% block footer_year %}{{ "now"|date("Y") }}{% endblock %} My Symfony Application</p>
    </footer>

    {% block javascripts %}
        {# Include JavaScript files here #}
    {% endblock %}
</body>
</html>
